:root {

    --color-primario: #1a1a1a;
    --color-secundario: #ffffff;
    --color-acento: #007BFF;
    --color-texto: #333333;
    --color-fondo-suave: #f4f7f6;
    --transicion: all 0,.3s ease;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--color-secundario);
    display : flex;
    flex-direction:column;
     min-height: 100vh;
     background-color: var(--color-secundario);
 }

/*Encabezado y navengacion*/

header {
    background: var(--color-primario);
    box-shadow: 0 2px 10 px rgba (0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    padding:15px 20px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    color: var(--color-secundario);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: var(--color-acento);
}

nav ul li a:hover{
    color: var(--color-acento);
}
